.map-view-marker-name {
    color: var(--text-normal);
    font-size: var(--font-text-size);
    font-family: var(--font-text);
    font-weight: bold;
    margin: 0 !important;
    /* Make sure the marker name doesn't cover up the close button */
    margin-right: 18px !important;
}

.map-view-marker-sub-name {
    color: var(--text-normal);
    font-size: var(--font-text-size);
    font-family: var(--font-text);
    margin: 0 !important;
}

.map-view-main {
    position: relative;
    width: 100%;
    height: 100%;
}

.map-view-location {
    font-weight: bold;
    text-decoration: underline;
}

.map-view-graph-controls {
    left: 8px;
    top: 8px;
    padding: 8px 20px 8px 8px;
    background-color: var(--background-primary-alt);
    max-width: 240px;
    border: 1px solid var(--background-modifier-border);
    border-radius: 6px;
    max-height: calc(100% - 16px);
    overflow: auto;
    position: absolute;
    z-index: 2;
    padding: 8px 25px 5px 12px;
}

.graph-control-div {
    display: block;
    padding-bottom: 5px;
}

.graph-control-content {
    display: none;
    overflow: hidden;
}

.graph-control-error {
    border-color: red !important;
}

.controls-toggle {
    display: none;
}

.mv-control-button {
    display: inline;
}

/* An icon button on the map, e.g. lock */
.mv-icon-button {
    display: flex !important;
    align-items: center;
    justify-content: center;
}

a.mv-icon-button.on {
    background-color: var(--background-modifier-border-focus) !important;
}

.controls-toggle:checked
    + .lbl-triangle
    + .lbl-toggle
    + .graph-control-content {
    display: block;
}

.lbl-triangle {
    display: inline-block;
    position: relative;
    top: -1px;
    transition: 0.25s;
}

.controls-toggle:checked + .lbl-triangle {
    transform: rotate(90deg);
    top: 0px;
}

.settings-dense-button {
    margin-right: 0;
}

.setting-item-control .mv-emoji-icon {
    margin: 12px 0;
}

.leaflet-container .dark-mode {
    filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg)
        saturate(0.3) brightness(0.7);
}

.leaflet-container {
    background-color: var(--titlebar-background-focused) !important;
}

.newPresetDialogGrid {
    display: grid;
    grid-row-gap: 10px;
}

.newPresetDialogLine {
    display: inline-block;
}

.clusterPreviewIcon {
    margin-left: 0 !important;
    margin-top: 0 !important;
    position: relative !important;
}

.clusterPreviewContainer {
    display: inline-flex;
    border-radius: 6px;
    line-height: 1.5;
    background-color: var(--background-primary);
    align-items: center;
}

.clusterPreviewContainer .leaflet-marker-icon {
    background-color: var(--background-primary);
}

/* Make emoji icons behave in cluster previews */
.clusterPreviewContainer p {
    margin: 10px 0 !important;
}

.graph-control-follow-label {
    vertical-align: top;
    padding-left: 5px;
}

.marker-popup {
    border-radius: 6px;
    color: var(--text-normal);
    font-size: var(--font-text-size);
    font-family: var(--font-text);
    line-height: 1.5;
    background-color: var(--background-primary);
    box-shadow: 0 2px 8px var(--background-modifier-box-shadow);
}

.mv-marker-label {
    padding: 2px 6px;
}

/* Disable the default Leaflet shadow because we use the Obsidian theme above */
.marker-popup .leaflet-popup-content-wrapper {
    box-shadow: none;
    background: none;
    color: none;
}

.mv-marker-popup-container {
    max-height: 20em;
    width: 30em;
    overflow: hidden;
    /* Initially this isn't displayed */
    display: none;
    z-index: 2;
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.5);
}
.mv-marker-popup-container .markdown-embed {
    border-left: 0;
    max-height: 200px;
    overflow-y: auto;
}
/* Simple placement mode is used on mobile, where the screen is too small and Popper is unavailable anyway */
.mv-marker-popup-container.simple-placement {
    bottom: 32px;
    position: absolute;
    width: 100%;
}

.mv-marker-popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: transparent !important;
}

.url-rule-dropdown {
    max-width: 7em;
}

.parsing-rule {
    padding: 5px;
}

.parsing-rule-line-2 {
    text-align: right;
}

.map-search-suggestion {
    display: flex;
}

.suggestion-item .search-icon-div .leaflet-marker-icon .mv-emoji-icon {
    position: relative;
    margin: 0;
    top: 10px;
}

.search-text-div {
    display: flex;
    align-items: center;
    padding-left: 10px;
}

.leaflet-marker-icon {
    transition: filter 0.1s;
}

.map-view-highlight {
    filter: drop-shadow(0 0 10px blue);
}

.mv-fade-active .leaflet-marker-icon:not(.mv-fade-marker-shown) {
    filter: grayscale(100%);
    opacity: 0.5;
}

.mv-fade-active path.leaflet-interactive:not(.mv-fade-edge-shown) {
    opacity: 0.1;
}

div.map-view-highlight.marker-cluster {
    box-shadow: 0 0 5px blue;
}

.map-view-icon {
    margin: 10px;
    width: 15px;
    height: 15px;
}

.mv-emoji-icon {
    text-shadow: 0 0 1px #fff, -1px -1px 1px #fff, 1px -1px 1px #fff,
        -1px 1px 1px #fff, 0 0 2px #fff;
    top: -2px;
    position: relative;
}

.mv-map-control {
    margin: 1px;
}

.block-language-mapview {
    height: 300px;
}

.markdown-reading-view .graph-control-div {
    display: none;
}
.markdown-reading-view .map-view-graph-controls {
    padding: 0;
}

@media print {
    .map-view-graph-controls {
        display: none;
    }
    .leaflet-control-zoom {
        display: none;
    }
}

.map-preview-popup {
    position: absolute;
    width: 300px;
    height: 200px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.2s ease-in-out, visibility 0s 0.2s;
    padding: 2px;
}

.map-preview-popup.show {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.2s ease-in-out;
}

.map-preview-popup-map {
    width: 100%;
    height: 100%;
}

.mv-simple-circle-marker {
    color: white;
    border: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
}

.mv-simple-circle-marker i {
    font-size: 20px;
}

.mv-simple-circle-marker .mv-emoji-icon {
    top: 0;
}
