.map-view-marker-name {
	font-weight: bold;
}

.map-view-extra-name {
	font-weight: bold;
}
 
.map-view-marker-snippet {
	white-space: pre-line;
	overflow-wrap: break-word;
}

.map-view-location {
	font-weight: bold;
	text-decoration: underline;
}

.graph-controls {
	position: fixed;
	z-index: 2;
	margin-top: 36px;
}

.graph-control-div {
	display: inline-block;
}

.graph-control-content {
	max-height: 0px;
	overflow: hidden;
	transition: max-height .25s ease-in-out;
}

.toggle:checked + .lbl-toggle + .graph-control-content {
	max-height: 100vh;
}

.settings-dense-button {
	margin-right: 0;
}

.leaflet-container .dark-mode {
    filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg)
        saturate(0.3) brightness(0.7);
}
